*{
  margin:0;
  padding:0;
}

main{
  background-color: salmon;
  width: 100%;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

ul{
  list-style: none;
}

img{
  width: 70%;
  object-fit: cover;
}